body {
  min-height: 100vh;
}

.wrapper {
  background-image: url("../img/sky.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.flex-grow-1 {
  min-height: 130vh;
  background-image: url("../img/plane3.png"), url("../img/tile.jpg");
  background-size: contain, auto;
  background-position: center bottom, left top;
  background-repeat: no-repeat, repeat;
}

.ui-dialog-titlebar {
  background: green;
  color: white;
}

#dialog-1 {
  border: 2px solid grey;
  background: white;
}
