</div>

<div class="container bg-primary px-0">
  <nav class="navbar navbar-expand-sm justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white small" href="">&copyEurope Travel Experts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white small" href="">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white small" href="">Contact us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white small" href="">Terms & Conditions</a>
      </li>
    </ul>
  </nav>
</div>

</div>
</div>
</body>
</html>
