<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/my.css">
  <script src="js/jquery-3.4.1.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/init.js"></script>
  <title>Europe Travel Experts</title>
  </head>
<body>
  <div class="container-fluid py-3">
    <h1 class="text-white text-center">Europe Travel Experts<br><small>make your holidays come true...</small></h1>
    <div class="container px-0 my-3 border border-primary rounded-lg">
      <nav class="navbar sticky-top navbar-expand-sm bg-info justify-content-center py-0 shadow-sm">
        <ul id="navigation" class="navbar-nav">
          <li id="index" class="nav-item px-2 py-1">
            <a class="nav-link text-white" href="index.php">Home</a>
          </li>
          <li id="hot-deals" class="nav-item px-2 py-1">
            <a class="nav-link text-white font-weight-bolder" href="">Hot Deals!</a>
          </li>
          <li id="holidays" class="nav-item px-2 py-1">
            <a class="nav-link text-white" href="">Holidays</a>
          </li>
          <li id="register" class="nav-item px-2 py-1">
            <a class="nav-link text-white" href="register_login.php">Register/Login</a>
          </li>
        </ul>
      </nav>

      <div class="container main p-5">
